<h2>user#new.html</h2>
<br>
<p>ニックネーム</p>
<input type="text" name="" value="">
<br>
<p>メールアドレス</p>
<input type="text" name="" value="">
<br>
<p>パスワード</p>
<input type="text" name="" value="">
<br>
<br>
<%= link_to 'ログイン' , user_path(1) %>
