<h2>user#show.html</h2>
<h2>ここはマイページ</h2>
<%= link_to '評価履歴' , users_review_path %>
<br>
<%= link_to 'お気に入り施設' , users_favorite_facilities_path %>
<br>
<% if current_user.admin?%>
<%= link_to '管理者画面へ移動' , rails_admin_path %>
<% end %>
<br>
<br>
<p>名前の変更</p>
<%= link_to 'メールアドレス・パスワードの変更・アカウントの削除はこちら' , edit_user_registration_path %>
<br>
