<p>県</p>
<p>住所</p>
<p>施設名</p>
<p>ホームページ</p>
<p>営業時間</p>
<p>定休日</p>
<p>利用料金</p>
<p>支払い方法</p>
<%= link_to '施設情報登録' , facility_path(1) %>
<br>
<br>
<p>室内</p>
<p>風呂イス</p>
<select name="example">
<option value="0">0ヶ</option><option value="1">1ヶ</option><option value="2">2ヶ</option><option value="3">3ヶ</option>
</select>
<p>デッキチェア</p>
<select name="example">
<option value="0">0ヶ</option><option value="1">1ヶ</option><option value="2">2ヶ</option><option value="3">3ヶ</option>
</select>
<p>リクライニングチェア</p>
<select name="example">
<option value="0">0ヶ</option><option value="1">1ヶ</option><option value="2">2ヶ</option><option value="3">3ヶ</option>
</select>
<p>ベンチ系（背もたれあり）</p>
<select name="example">
<option value="0">0ヶ</option><option value="1">1ヶ</option><option value="2">2ヶ</option><option value="3">3ヶ</option>
</select>
<p>ベンチ系（背もたれなし）</p>
<select name="example">
<option value="0">0ヶ</option><option value="1">1ヶ</option><option value="2">2ヶ</option><option value="3">3ヶ</option>
</select>
<br>
<br>
<p>サウナコメント</p>
<textarea name="name" rows="2" cols="40"></textarea>
<p>水風呂コメント</p>
<textarea name="name" rows="2" cols="40"></textarea>
<br>
<%= link_to '設備登録' , facility_path(1) %>
