<br>
<br>
<div class="about_content">
  <%= link_to "https://twitter.com/hibasan2105" do %>
    <%= image_tag 'about_me.jpg', class: "image-circle"%>
    <h2>わ た し が 製 作 者 で す</h2>
  <% end %>
  <p>ここにはきっと外気浴に関する熱い思いが入るはずです。</p>
  <p>それを信じていまはこの文章でゆるしてあげます。</p>
</div>
<br>
