<h2>facility#show.html</h2>
<%= link_to '評価・コメント' , new_review_path %>
<%= link_to 'お気に入り追加' , facilities_path %>
<%= link_to '情報編集' , edit_facility_path(1) %>
<br>
<p>県</p>
<p>住所</p>
<p>施設名</p>
<p>ホームページ</p>
<p>営業時間</p>
<p>定休日</p>
<p>利用料金</p>
<p>支払い方法</p>
<br>
<a href="javascript:history.back()">[戻る]</a>
