<br>
<br>
<div class="top_container">
<h2><%= link_to 'ととのいにいく' , facilities_search_path %></h2>
<br>
<br>
<br>
<br>
<% if user_signed_in? %>
<% else %>
  <h2><%= link_to '一般者ログイン(ゲスト)' , users_guest_sign_in_path, method: :post %></h2>
  <h2><%= link_to '管理者ログイン(ゲスト)' , users_admin_guest_sign_in_path , method: :post %></h2>
<% end %>
</div>
