/* facility#show.html */
.review_potision{
  position: relative;
}

input[type="checkbox"]:checked + #review_popup{
  display:block;
  animation: fadein 0.3s;
}
.review_potision .chack_box{
  display: none;
}


#review_popup{
  display: none;
  padding: 10px;
  width:580px;
  background-color: #f0f0f0;
  border: 5px double #000;
  border-radius: 10px;
  position: absolute;
  top : 0px;
  right: 0px;
  opacity: 1.0;
  z-index: 10;
  box-shadow: 10px 5px 10px;
}

.facility_show_1st{
  margin: 10px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr 200px;
  grid-template-areas:
  "name  address  show_button"
  "image  map  show_button";
}
.facility_show_1st .name{
  grid-area: name;
  width: auto;
}
.facility_show_1st .address{
  grid-area: address;

}
.facility_show_1st .show_button{
  grid-area: show_button;
}

.facility_show_1st .show_button li{
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.facility_show_1st .show_button li label,
.facility_show_1st .show_button a{
  text-decoration: none;
  color: #0d6efd;
  display: block;
  cursor: pointer;
  padding:5px 10px;
  box-shadow: 5px 5px 3px;
  transition: 0.3s;
  border-radius: 10px;
}

.facility_show_1st .show_button li label:hover,
.facility_show_1st .show_button a:hover{
  background-color: #ddd;
}


.facility_show_1st .image{
  grid-area: image;
  background-color: #FFF;
  margin-right: 15px;
}

.facility_show_1st .image img{
  height: 320px;
  width: 320px;
}


.facility_show_1st .map{
  grid-area: map;
}

.facility_show_2nd{
  margin: 10px;

  display: grid;
  grid-template-rows: 40px 1fr 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-areas:
  "nil  label1  label2"
  "label3  male_inside  female_inside"
  "label4  male_outside  female_outside"
  "label5  male_sauna  female_sauna"
  "label6  male_water  female_water";
}
.facility_show_2nd .label1{

  grid-area: label1;
}
.facility_show_2nd .label2{

  grid-area: label2;
}
.facility_show_2nd .label3{

  grid-area: label3;
}
.facility_show_2nd .label4{

  grid-area: label4;
}
.facility_show_2nd .label5{

  grid-area: label5;
}
.facility_show_2nd .label6{

  grid-area: label6;
}
.facility_show_2nd .male_inside{

  grid-area: male_inside;
}
.facility_show_2nd .male_outside{

  grid-area: male_outside;
}
.facility_show_2nd .male_sauna{

  grid-area: male_sauna;
}
.facility_show_2nd .male_water{

  grid-area: male_water;
}
.facility_show_2nd .female_inside{

  grid-area: female_inside;
}
.facility_show_2nd .female_outside{

  grid-area: female_outside;
}
.facility_show_2nd .female_sauna{

  grid-area: female_sauna;
}
.facility_show_2nd .female_water{

  grid-area: female_water;
}

.facility_show_3rd{
  margin: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "facility";
}
.facility_show_3rd .facility{

  grid-area: facility;
}


.facility_show_4th{
  margin: 10px;

  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 280px 1fr 200px 100px;
  grid-template-areas:
  "name  review  created_at edit"
  "comment  comment  comment destroy";
}
.facility_show_4th .name{
  grid-area: name;
}
.facility_show_4th .review{
  grid-area: review;
}
.facility_show_4th .created_at{
  grid-area: created_at;
}
.facility_show_4th .comment{
  grid-area: comment;
}
.facility_show_4th .edit{
  grid-area: edit;
}
.facility_show_4th .destroy{
  grid-area: destroy;
}
