/* facilities#top.html */
.top_container{
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

.top_container .title{
  margin: 56px auto;
  max-width: 50%;
  min-width: 600px;
}

.top_container .comment{
  margin: 20px auto;
}

.top_image{
  margin: 0 auto;
}

.guest_login li{
  font-size: 18px;
  margin: 4px auto;
}
