body {
  margin: 0;
  padding: 0;
  background-color: #b0bec5;
  min-height: 100vh;
  position: relative;
  padding-bottom: 30px;
  box-sizing: border-box;
}
ul { margin: 0; padding: 0; }
li { list-style: none; }

.header {
  background: #fafafa;
  height: 50px;
  width: 100%;
  font-size: 1rem;
  display: table;
}

.top_menu_left{
  display: table-cell; text-align: left;
}

.top_menu_center{
  display: table-cell; text-align: center;
}

.top_menu_right{
  display: table-cell; text-align: right;
}

.footer {
  background-color: #fafafa;
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: table;
}
.footer p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #000;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* facilities#about.html */
.about_content {
  text-align: center;
}

/* facilities#search.html */
.facility_review{
  margin: 5px;
  padding: 5px;
  width: 80%;
  background-color: #FFF;
  border-radius: 10px;
}


/* facilities#index.html */

.facility_index{
  height: 260px;
}

.facility_index h4{
  margin: 0;
}

.facility_index_top{
  align-items: flex-end;
  display: flex;
}

.facility_index_top h2{
  margin: 0 5px;
}

.facility_index_left{
  background-color: #FFF;
  height: 200px;
  width: 200px;
  float: left;
  margin: 10px;
}

.facility_index_view{
  padding-left: 20px;
  display: flex;
  font-size: 0.9rem;
}

.facility_index_view li{
  padding: 0 3px;
}

/* facility#show.html */
.grid{
  margin: 10px;
  height: 80px;
  width: 80px;
  border: solid;
}
.facility_show_1st{
  margin: 10px;
  border: solid;
  display: grid;
  grid-template-rows: 80px 200px;
  grid-template-columns: 200px 200px 1fr 200px;
  grid-template-areas:
  "name  name  address  button"
  "image  comment  comment  button";
}
.facility_show_1st .name{
  border: solid;
  grid-area: name;
}
.facility_show_1st .address{
  border: solid;
  grid-area: address;
}
.facility_show_1st .button{
  border: solid;
  grid-area: button;
}
.facility_show_1st .image{
  border: solid;
  grid-area: image;
}
.facility_show_1st .comment{
  border: solid;
  grid-area: comment;
}




.facility_show_3rd{
  margin: 10px;
  border: solid;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 560px 1fr;
  grid-template-areas:
  "address  facility"
  "map  facility";
}
.facility_show_3rd .address{
  border: solid;
  grid-area: address;
}
.facility_show_3rd .facility{
  border: solid;
  grid-area: facility;
}
.facility_show_3rd #map{
  border: solid;
  grid-area: map;
}

/* facility#new.html */
.nested-fields{
  display: flex;
}

.sauna_field{

}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
