/* facilities#about.html */
.about_content {
  text-align: center;
}

/* facilities#top.html */
.top_container{
  width: 768px;
  margin: 0 auto;
  text-align: center;
}

.top_container .title{
  margin: 56px auto;
  max-width: 50%;
  min-width: 600px;
}

.top_container .comment{
  margin: 20px auto;
}

.top_image{
  margin: 0 auto;
}

.guest_login li{
  font-size: 18px;
  margin: 4px auto;
}


/* facilities#search.html */
.facility_review{
  margin: 5px;
  padding: 5px;
  width: 80%;
  background-color: #FFF;
  border-radius: 10px;
}

.search_container{
  width: 768px;
  margin: 0 auto;
}

.search_container .btn{
  font-weight: bold;
  }

.new_review_container, .new_facility_container, .country_container{
  width: 1028px;
  margin: 0 auto;
}

.search_chair li{
  display: inline-block;
}

.chack_box_image{
  position: relative;
  min-width: 120px;
  height: 120px;
}

.chack_box_image .chair_image{
  background-color: #fff;
  border-radius: 8px;
  width: 120px;
  height: 120px;
  opacity: 0.7;
  transition: 0.3s;
}

.chack_box_image .chair_image:hover{
  background-color: #fff;
  border-radius: 8px;
  width: 120px;
  height: 120px;
  opacity: 1.0;
  transition: 0.3s;
}

.chack_box_image .chack_box{
  display: none;
  position: absolute;
  top: 12px;
  left: 12px;
}

input:checked + label img.chair_image {
  border: solid;
  border-color: blue;
  opacity: 1.0;
}

.chack_box_image .chair_label{
  padding: 0;
  width: 100%;
  font-size: 12px;
  position: absolute;
  bottom: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

.facility_search{
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 12px 25%;
  width: 40%;
  border: none;
  padding: 2px 16px;
  text-decoration: none;
  border-radius: 2px;
  border-right: solid 4px #668ad8;
  border-bottom: solid 4px #668ad8;
  color: #668ad8;
  background: #FFF;
}

.facility_search:active {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 12px 25%;
  width: 40%;
  border: none;
  padding: 2px 16px;
  text-decoration: none;
  border-radius: 2px;
  color: #668ad8;
  background: #FFF;
  -webkit-transform: translate(2px,2px);
  transform: translate(2px,2px);
}

/* facilities#index.html */
.index_top{
  display: flex;
}
.explain{
  position: relative;
  margin-left: auto;
  margin-right: 20%;
  border-top: 1px solid #88A3A9;
  border-bottom: 3px solid #88A3A9;
  border-left: 1px solid #88A3A9;
  border-right: 3px solid #88A3A9;
}
.explain .chack_box{
  display: none;
}
input[type="checkbox"]:hover + #explain_popup{
  display:block;
  animation: fadein 0.3s;
}
@keyframes fadein{
  from{ opacity: 0; }
  to{ opacity: 0.9; }
}
#explain_popup{
  padding: 0;
  margin: 0;
  display: none;
  width: 320px;
  height: 240px;
  background-color: #0000A0;
  border: 5px double #ECE8F8;
  border-radius: 10px;
  position: absolute;
  top : -5px;
  right: 0px;
  opacity: 0.9;
  z-index: 10;
}
#explain_popup img{
  width: 320px;
  height: 240px;
}
.facility_index{
  margin: 10px;
  height: 100%;
}

.facility_index h4{
  margin: 0;
}

.facility_index_top{
  align-items: flex-end;
  display: flex;
}

.facility_index_top h2{
  margin: 5px;
}

.facility_index_left{
  background-color: #FFF;
  height: 260px;
  width: 260px;
  float: left;
  margin: 10px;
}


.facility_index_view{
  padding-left: 20px;
  display: flex;
  font-size: 0.9rem;
}

.facility_index_view li{
  padding: 0 3px;
}

.index_image{
  margin: 10px 5px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.index_image img{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -5px;
}

.index_image .inside {
  margin: 0;
  padding: 0;
  color: #78ff9c;
  font-size: 32px;
  opacity: 0.8;
  position: absolute;
  top: -5px;
  right: 5px;
  text-shadow    :
       2px  2px 1px #000, -2px  2px 1px #000,
       2px -2px 1px #000, -2px -2px 1px #000,
       2px  0px 1px #000,  0px  2px 1px #000,
      -2px  0px 1px #000,  0px -2px 1px #000;
}

.index_image .outside {
  margin: 0;
  padding: 0;
  color: #ffd478;
  font-size: 32px;
  opacity: 0.8;
  position: absolute;
  top: -5px;
  left: 5px;
  text-shadow    :
       2px  2px 1px #000, -2px  2px 1px #000,
       2px -2px 1px #000, -2px -2px 1px #000,
       2px  0px 1px #000,  0px  2px 1px #000,
      -2px  0px 1px #000,  0px -2px 1px #000;
}

.index_image .chair_label{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.index_table th{
  font-size: 20px;
  width: 100px;
  padding: 0 auto;
}

.index_table td{
  font-size: 28px;
}

.index_table .male_content{
  height: 120px;
  border-bottom: 1px solid #B0B0B2;
}

.index_table .female_content{
  height: 120px;
}

.chairs{
  display: flex;
}

/* facility#show.html */
.facility_show_1st{
  margin: 10px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 200px;
  grid-template-areas:
  "name  address  button"
  "image  comment  button";
}
.facility_show_1st .name{

  grid-area: name;
}
.facility_show_1st .address{

  grid-area: address;
}
.facility_show_1st .button{

  grid-area: button;
}
.facility_show_1st .image{

  grid-area: image;
}
.facility_show_1st .comment{

  grid-area: comment;
}

.facility_show_2nd{
  margin: 10px;

  display: grid;
  grid-template-rows: 40px 1fr 1fr 1fr 1fr;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-areas:
  "nil  label1  label2"
  "label3  male_inside  female_inside"
  "label4  male_outside  female_outside"
  "label5  male_sauna  female_sauna"
  "label6  male_water  female_water";
}
.facility_show_2nd .label1{

  grid-area: label1;
}
.facility_show_2nd .label2{

  grid-area: label2;
}
.facility_show_2nd .label3{

  grid-area: label3;
}
.facility_show_2nd .label4{

  grid-area: label4;
}
.facility_show_2nd .label5{

  grid-area: label5;
}
.facility_show_2nd .label6{

  grid-area: label6;
}
.facility_show_2nd .male_inside{

  grid-area: male_inside;
}
.facility_show_2nd .male_outside{

  grid-area: male_outside;
}
.facility_show_2nd .male_sauna{

  grid-area: male_sauna;
}
.facility_show_2nd .male_water{

  grid-area: male_water;
}
.facility_show_2nd .female_inside{

  grid-area: female_inside;
}
.facility_show_2nd .female_outside{

  grid-area: female_outside;
}
.facility_show_2nd .female_sauna{

  grid-area: female_sauna;
}
.facility_show_2nd .female_water{

  grid-area: female_water;
}

.facility_show_3rd{
  margin: 10px;

  display: grid;
  grid-template-columns: 560px 1fr;
  grid-template-areas:
  "map  facility";
}
.facility_show_3rd .facility{

  grid-area: facility;
}
.facility_show_3rd #map{

  grid-area: map;
}

.facility_show_4th{
  margin: 10px;

  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 280px 1fr 200px 100px;
  grid-template-areas:
  "name  review  created_at edit"
  "comment  comment  comment destroy";
}
.facility_show_4th .name{
  grid-area: name;
}
.facility_show_4th .review{
  grid-area: review;
}
.facility_show_4th .created_at{
  grid-area: created_at;
}
.facility_show_4th .comment{
  grid-area: comment;
}
.facility_show_4th .edit{
  grid-area: edit;
}
.facility_show_4th .destroy{
  grid-area: destroy;
}

/* facility#new.html */
.form_container{
width: 768px;
margin: 0 auto;
}
.review_container{
  width: 768px;
  margin: 0 auto;
}




// Place all the styles related to the facilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
