@import "bootstrap";
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 30px;
  box-sizing: border-box;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
  font-weight: 600;
}
ul { margin: 0; padding: 0; }
li { list-style: none; }


.field_with_errors {
  display: inline;
  input,textarea,select {
    @extend .is-invalid;
  }
}

.error_message {
  color: red;
}


.header {
  background: #fafafa;
  height: 80px;
  width: 100%;
  font-size: 1rem;
  display: table;
}

.header .logo{
  height: 80px;
  width: 70px;
}

.header_container{
  margin: 32px;
}

.top_menu_left_image{
  padding: 5px;
  float: left;
  margin: 0;
}

.top_menu_left{
  margin-top: 10px;
  float: left;
}
.top_menu_left li{
  float: left;
  width: auto;
}
.top_menu_left li a{
  border-bottom: 2px solid #f0f0f0;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.top_menu_left li a:hover{
  background-color: #f0f0f0;
  padding: 15px;
}

.top_menu_right{
  float: right;
}
.top_menu_right li{
  float: left;
  width: auto;
  margin-top: 15px;
}
.top_menu_right li a ,.top_menu_right li label{
  display: inline;
  color: #0d6efd;
  background-color: #fafafa;
  border: solid #f0f0f0;
  border-radius: 5px;
  padding: 15px;
  margin: 0 10px;
  transition: 0.3s;
  text-decoration: none;
}
.top_menu_right li a:hover{
  background-color: #d0d0d0;
}
// ############

.menu_potision{
  position: relative;
}

.top_menu_right .chack_box{
  display: none;
}

input[type="checkbox"]:hover + #memu_popup{
  display:block;
  animation: fadein 0.3s;
}

#memu_popup{
  display: none;
  width: 240px;
  padding: 10px;
  background-color: #FFF;
  border: 5px double #ECE8F8;
  border-radius: 10px;
  position: absolute;
  top : 50px;
  right: 0px;
  opacity: 0.9;
  z-index: 10;
}

.menu{
  text-decoration: none;
  width: 240px;
  font-size: 20px;
  display: block;
}


// ############



.footer {
  background-color: #fafafa;
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: table;
}
.footer p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #000;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.wrapper{
  max-width: 1230px;
  margin: 20px auto;
}
