<h3>評価</h3>
<p>乾燥</p>
<select name="example">
<option value="1">★1</option><option value="2">★2</option><option value="3">★3</option><option value="4">★4</option><option value="5">★5</option>
</select>
<p>照明</p><select name="example">
<option value="1">★1</option><option value="2">★2</option><option value="3">★3</option><option value="4">★4</option><option value="5">★5</option>
</select>
<p>広さ</p>
<select name="example">
<option value="1">★1</option><option value="2">★2</option><option value="3">★3</option><option value="4">★4</option><option value="5">★5</option>
</select>
<p>コメント</p>
<textarea name="name" rows="4" cols="40"></textarea>
<br>
<br>
<%= link_to '投稿する' , facility_path(1) %>
